
body {
    background-color: rgb(218, 189, 146);
    font-family: 'Times New Roman', Times, serif;
}

.container {
    border: 10px solid rgb(243, 10, 10);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: rgb(240, 248, 255);
}
.rows {
    display: flex;
    flex: 1;
}
.squares { 
    flex: 1;
}

button {
    border-radius: 10px;
    background-color:rgb(228, 226, 217) ;
}